body {
    color: var(--color-text);
    background-color: var(--color-background-page);
    margin: 0;
    padding: 20px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", "Rockwell", "Courier Bold", Georgia, serif;
    font-weight: 700;
}

h1 {
    background-color: var(--color-background-header);
    color: var(--color-text-inverted);
    padding: 16px;
    margin: 0 0 20px 0;
}

h2 {
    color: var(--color-accent);
}

a {
    color: var(--color-link);
}

select {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: var(--color-background-header);
    color: var(--color-text-inverted);
    padding: 8px;
}

td {
    padding: 8px;
    border: 1px solid lightgray;
}

svg.icon {
  display: inline-block;
  height: 2em;
  width: 2em;
  vertical-align: middle;
  fill: currentColor;
}